<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycj.lab.mapper.GroupMapper">
    <select id="findOneGroup" parameterType="long" resultType="com.ycj.lab.entity.GroupEntity">
        select * from IM_GROUP_INFO where gid=#{gId} and state=1
    </select>
    <select id="findUserGroup" resultType="com.ycj.lab.entity.GroupEntity">
        select * from IM_GROUP_INFO where creator_id=#{creatorId} and state=1
    </select>
    <select id="checkDuplicate" resultType="int">
        select count(gid) from IM_GROUP_INFO where gname=#{gName} and state=1
    </select>
    <insert id="createGroup">
        insert into IM_GROUP_INFO(gid,gname,creator_id,type) values (#{gId},#{gName},#{uId},#{type})
    </insert>
    <update id="deleteGroup">
        update IM_GROUP_INFO set state = 0 where gid = #{gId} and creator_id = #{creatorId}
    </update>
    <update id="modifyGroupProfile">
        update IM_GROUP_INFO set group_profile=#{profile} where id = #{gId} and creator_id = #{creatorId} and state = 1
    </update>
</mapper>


